name: TDR Deploy API
on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: 'Environment'
        required: true
        options:
          - intg
          - staging
          - prod
        default: 'intg'
      to-deploy:
        description: 'Version to deploy'
        required: true
run-name: Deploying API ${{inputs.to-deploy}} to ${{inputs.environment}}
permissions:
  id-token: write
  contents: write
jobs:
  deploy:
    uses: nationalarchives/tdr-github-actions/.github/workflows/ecs_deploy.yml@fa53af529582c850a4575b9af2f91e441166c68d # v0.0.7
    with:
      service: consignmentapi
      image-name: consignment-api
      environment: ${{ github.event.inputs.environment }}
      to-deploy: ${{ github.event.inputs.to-deploy }}
    secrets:
      ACCOUNT_NUMBER: ${{ secrets.ACCOUNT_NUMBER }}
      MANAGEMENT_ACCOUNT: ${{ secrets.MANAGEMENT_ACCOUNT }}
      WORKFLOW_PAT: ${{ secrets.WORKFLOW_PAT }}
      SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
