name: TDR Run API tests
on:
  pull_request:
  push:
    branches-ignore:
      - master
      - release-*
permissions:
  id-token: write
  contents: read
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14
      - run: sbt scalafmtCheckAll 'graphqlValidateSchema "build" "consignmentApi"'
        env:
          AKKA_TOKEN: ${{ secrets.AKKA_TOKEN }}
  setup-tests:
    runs-on: ubuntu-latest
    outputs:
      files: ${{ steps.generate-files.outputs.files }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14
      - id: generate-files
        run: |
          FILES=$(find src/test/* -name "*Spec.scala" -type f -printf "%f\n" | sed 's/\.[^.]*$//' | jq -R -s -c 'split("\n")[:-1]')
          echo files=${FILES} >> $GITHUB_OUTPUT
  test:
    runs-on: ubuntu-latest
    needs: setup-tests
    strategy:
      matrix:
        file: ${{ fromJSON(needs.setup-tests.outputs.files) }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: sbt/setup-sbt@3e125ece5c3e5248e18da9ed8d2cce3d335ec8dd # v1.1.14
      - run: |
          docker build -f Dockerfile-tests -t tests .
          sbt 'testOnly *${{ matrix.file }}*'
        env:
          AKKA_TOKEN: ${{ secrets.AKKA_TOKEN }}
